a, p, h1, h2, ul, ol, dl {
    font-size: rem-calc(15) !important; 
    line-height: 1.35 !important;
    letter-spacing: 0.01px !important;
    color: #161616;
    &.small {
        font-size: rem-calc(12) !important;
        line-height: 1.45;
    }
}
.font-small {
    font-size: rem-calc(12) !important;
    line-height: 1.45;
}
a:hover {
    color: $active-color !important;
}
