/*
[1]: All items a forced onto a single line, causing the overflow when necessary.
[2]: Automatic overflow means a scroll bar won’t be present if it isn’t needed
[3]: Make it smooth scrolling on iOS devices
[4]: Hide the ugly scrollbars in Edge until the scrollable area is hovered
[5]: Hide the scroll bar in WebKit browsers
*/
.mobilefilter {
    display: block;
    padding: 0; 
    white-space: nowrap; /* [1] */
    overflow-x: auto; /* [2] */
    -webkit-overflow-scrolling: touch; /* [3] */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* [4] */
    
        @include breakpoint(medium) {
            display: block !important;
            padding: 0 0 5% 0 !important;
        }
}

/* [5] */
.mobilefilter::-webkit-scrollbar {
    display: none; }

.mobilefilter-list {
    width: 100%;
}

.mobilefilter-list > a {
    padding-right: 20px;
    color: #a4a4a4 !important;
}

.mobilefilter-list > a:active {
    color: black !important;
}

.mobilefilter-list > a:focus {
    color: black !important;
}

// #clear {
//     @include breakpoint(small) {
//         color: #a4a4a4 !important;
//         text-align: right !important;
//         padding-bottom: 5% !important;
//         text-decoration: underline !important;
//     }
// }

// #clear:hover {
//     cursor: pointer;
//     color: red !important;
// }

/* Mobile Filter */