.main-container {
  @include xy-grid-container;
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }
}
.grid-x {
  padding-top: 105px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  @include breakpoint(small only) {
      padding-top: calc(5% + 40px);
      .cell {
          margin-bottom: 1rem;
      }
  }
}